/* general */
body{
    background-color: #1E2D3B;
}
/* header */
header{
    background: #2E3A46;
    height: 70px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 0 1rem;
}
header img{
    width: 55px;
}
/* search */
.input-group{
    width: auto;
    border-radius: 15px;
    overflow: hidden;
}
.input-group-text {
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #1E2D3B;
    border: none;
    text-transform: uppercase;
    border-right: 3px solid #fff;
}
.form-select{
    background-color: #1E2D3B;
    color: #fff;
    border: none;
    background-image: none;
    appearance: auto;
    -webkit-appearance: auto;
}
/* Main */
main{
    margin-top: 70px;
}
main .row{
    width: 80%;
}
main .card{
    padding: 1rem;
    background-color: #2E3A46;
    border: none;
    text-align: center;
}
.card .cs_title{
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
}
.card .cs_text{
    color: #808080;
    font-size: 1.3rem;
}